USE [master]
GO
/****** Object:  Database [JardinInfantes]    Script Date: 22/10/2017 0:47:47 ******/
CREATE DATABASE [JardinInfantes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JardinInfantes', FILENAME = N'C:\temp\JardinInfantes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'JardinInfantes_log', FILENAME = N'C:\temp\JardinInfantes_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JardinInfantes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JardinInfantes]
GO
/****** Object:  StoredProcedure [dbo].[dv_Bitacora]    Script Date: 22/10/2017 0:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[dv_Bitacora]
@Fecha datetime
as
begin
begin tran Bitacora
begin try
select CAST(ID_Bitacora as nvarchar(max))+CAST(ID_Evento as nvarchar(max))+CAST(ID_Usuario as nvarchar(max))
+CAST(Fecha as nvarchar(max))+CAST(Descripcion as nvarchar(max))as digito from Bitacora where Fecha=@Fecha
commit tran Bitacora
end try
begin catch
rollback tran Bitacora
end catch
end



GO
/****** Object:  StoredProcedure [dbo].[dv_ModificarDVH]    Script Date: 22/10/2017 0:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[dv_ModificarDVH]
@Usuario nvarchar(50),
@DVH nvarchar(50)
as
begin
declare @legajo int
begin tran Modificar
begin try
select @legajo=Legajo from Usuario where NombreUsuario=@Usuario
update Usuario set DigitoVerificadorH=@DVH where NombreUsuario=@usuario and Legajo=@legajo
commit tran Modificar
end try

begin Catch
rollback tran Modificar
end catch
end

GO
/****** Object:  StoredProcedure [dbo].[dv_Usuario]    Script Date: 22/10/2017 0:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[dv_Usuario]
@nombreUsuario nvarchar(50)
as
begin

declare @legajo int
begin tran Usuario
begin try
select @legajo=Legajo from usuario where NombreUsuario=@NombreUsuario
select  cast(ID_Usuario as nvarchar(max))+NombreUsuario +cast( Contraseña as nvarchar(max))+
cast(IntentosFallidos as nvarchar(max))+cast(Logueado as nvarchar(max))+cast(Legajo as nvarchar(max))+cast(Bloqueado as nvarchar(max)) as DGV
 from Usuario where NombreUsuario=NombreUsuario and Legajo=@legajo
 commit tran Usuario
 end try
 begin catch
 rollback tran Usuario
 end catch
end




GO
/****** Object:  StoredProcedure [dbo].[gb_AltaBitacora]    Script Date: 22/10/2017 0:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[gb_AltaBitacora]
@NombreUsuario nvarchar(50),
@EventoBitacora nvarchar(50),
@Fecha datetime,
@Descripcion nvarchar(max)
as
begin
declare  @id_Usuario int ;
declare @ID_EventoBitacora as int

begin tran AltaBitacora
begin try
select @id_Usuario= ID_Usuario from Usuario where NombreUsuario=@NombreUsuario
select @ID_EventoBitacora=ID_Evento from EventoBitacora where Evento=@EventoBitacora
insert into Bitacora(ID_Usuario,ID_Evento,Fecha,descripcion)values(@ID_usuario,@ID_EventoBitacora,@Fecha,@Descripcion)
commit tran AltaBitacora
end try
begin catch
rollback tran AltaBitacora
end catch
end



GO
/****** Object:  StoredProcedure [dbo].[gb_ModificarDVH]    Script Date: 22/10/2017 0:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[gb_ModificarDVH]
@Fecha datetime,
@DVH nvarchar(50)
as
begin
begin tran ModificarDVH
begin try
update Bitacora set DigitoVerificadorH=@DVH where fecha=@Fecha

commit tran ModificarDVH
end try
begin catch
rollback tran ModificarDVH
end catch
end


GO
/****** Object:  StoredProcedure [dbo].[gb_ObtenerDatosDVH]    Script Date: 22/10/2017 0:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[gb_ObtenerDatosDVH]
@evento nvarchar(50),
@nombreUsuario nvarchar(50)

as
begin
declare @Id_Evento int;
declare @Id_Usuario int;
declare @Id_Bitacora int;
declare @Resultado table
(resultado nvarchar(10)
);
begin tran ObtenerDatosDVH
begin try 
select @Id_Evento=ID_Evento from EventoBitacora where Evento=@evento
select @Id_Usuario= ID_Usuario from Usuario where NombreUsuario=@nombreUsuario
select @Id_Bitacora=max(ID_Bitacora)+1 from Bitacora
insert into @Resultado(resultado)values(convert(nvarchar(10),@Id_Bitacora)+convert(nvarchar(10),@Id_Evento)+ CONVERT
(nvarchar(10),@Id_Usuario))
select * from @Resultado

commit tran ObtenerDatosDVH

end try

begin catch
rollback tran ObtenerDatosDVH
end catch

end




GO
/****** Object:  StoredProcedure [dbo].[gb_VerBitacoraCompleto]    Script Date: 22/10/2017 0:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[gb_VerBitacoraCompleto]
as
begin
begin tran VerBitacoraCompleto
begin try
select p.Legajo,p.Nombre,p.Apellido,u.NombreUsuario,eb.Evento,b.Fecha,b.descripcion,b.DigitoVerificadorH from Bitacora as b 
join Usuario as u on b.ID_Usuario=u.ID_Usuario join Persona as p on u.ID_Usuario=b.ID_Usuario
join EventoBitacora as eb on eb.ID_Evento=b.ID_Evento
commit tran VerBitacoraCompleto
end try
begin catch
rollback tran VerBitacoraCompleto
end catch
end


GO
/****** Object:  StoredProcedure [dbo].[gb_VerBitacoraPorEvento]    Script Date: 22/10/2017 0:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[gb_VerBitacoraPorEvento]
@Evento nvarchar(50)
as
begin

begin tran VerBitacoraPorEvento
begin try
select p.Legajo,p.Nombre,p.Apellido,u.NombreUsuario,eb.Evento,b.Fecha,b.descripcion,b.DigitoVerificadorH from Bitacora as b 
join Usuario as u on b.ID_Usuario=u.ID_Usuario join Persona as p on u.ID_Usuario=b.ID_Usuario
join EventoBitacora as eb on eb.ID_Evento=b.ID_Evento where eb.Evento=@Evento
commit tran VerBitacoraPorEvento
end try
begin catch
rollback tran VerBitacoraPorEvento
end catch
end

GO
/****** Object:  StoredProcedure [dbo].[gb_VerBitacoraPorUsuario]    Script Date: 22/10/2017 0:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[gb_VerBitacoraPorUsuario]
@NombreUsuario nvarchar(50)
as
begin
DECLARE @legajo int
begin tran VerBitacoraPorUsuario
begin try
select @legajo=Legajo from Usuario where NombreUsuario=@nombreUsuario
select p.Legajo,p.Nombre,p.Apellido,u.NombreUsuario,eb.Evento,b.Fecha,b.descripcion,b.DigitoVerificadorH from Bitacora as b 
join Usuario as u on b.ID_Usuario=u.ID_Usuario join Persona as p on u.ID_Usuario=b.ID_Usuario
join EventoBitacora as eb on eb.ID_Evento=b.ID_Evento where u.NombreUsuario=@NombreUsuario and p.Legajo=@legajo
commit tran VerBitacoraPorUsuario
end try
begin catch
rollback tran VerBitacoraPorUsuario
end catch
end

GO
/****** Object:  StoredProcedure [dbo].[gb_VerEventoBitacora]    Script Date: 22/10/2017 0:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[gb_VerEventoBitacora]
as
begin
begin tran VerEventoBitacora
begin try
select ID_Evento,Evento from EventoBitacora
commit tran VerEventoBitacora
end try
begin catch
rollback tran VerEventoBitacora
end catch
end



GO
/****** Object:  StoredProcedure [dbo].[gu_AltaUsuario]    Script Date: 22/10/2017 0:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[gu_AltaUsuario]
@NombreUsuario nvarchar(50),
@Contraseña nvarchar(max),
@Legajo integer

as
begin
begin tran AltaUsuario
begin try
insert into Usuario(NombreUsuario,Contraseña,IntentosFallidos,Logueado,Legajo,DigitoVerificadorH,Bloqueado,habilitado)values
(@NombreUsuario,@Contraseña,0,0,@Legajo,'',0,1)
commit tran AltaUsuario
end try
begin catch
rollback tran AltaUsuario
end catch
end


GO
/****** Object:  StoredProcedure [dbo].[gu_EliminarUsuario]    Script Date: 22/10/2017 0:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[gu_EliminarUsuario]
@nombreUsuario nvarchar(50)

as
begin
declare @legajo int
begin tran EliminarUsuarios
begin try
select @legajo=Legajo from Usuario where NombreUsuario=@nombreUsuario
update Usuario set habilitado=0 where NombreUsuario=@nombreUsuario and Legajo=@legajo
commit tran EliminarUsuarios
end try
begin catch
rollback tran EliminarUsuarios
end catch
end





GO
/****** Object:  StoredProcedure [dbo].[gu_ListarUsuarios]    Script Date: 22/10/2017 0:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[gu_ListarUsuarios]
as
begin
begin tran ListarUsuarios
begin try
select NombreUsuario from Usuario where habilitado=1
commit tran ListarUsuarios
end try
begin catch
rollback tran ListarUsuarios
end catch
end


GO
/****** Object:  StoredProcedure [dbo].[gu_ModificarUsuario]    Script Date: 22/10/2017 0:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[gu_ModificarUsuario]
@nombreUsuario nvarchar(50),
@contraseña nvarchar(max)
as
begin
declare @legajo int
begin tran ModificarUsuario
begin try
select @legajo=Legajo from Usuario where NombreUsuario=@nombreUsuario
update Usuario set Contraseña=@contraseña where NombreUsuario=@nombreUsuario and Legajo=Legajo
commit tran ModificarUsuario
end try
begin catch
rollback tran ModificarUsuario
end catch
end


GO
/****** Object:  StoredProcedure [dbo].[id_CrearIdioma]    Script Date: 22/10/2017 0:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[id_CrearIdioma] 
@Idioma nvarchar(50)
as
begin

begin tran creraIdioma
begin try
insert into Idioma(Idioma) values(@Idioma)
commit tran crearIdioma
end try
begin catch
rollback tran crearIdioma
end catch

end

GO
/****** Object:  StoredProcedure [dbo].[p_ListarIdioma]    Script Date: 22/10/2017 0:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[p_ListarIdioma]
as
begin
begin tran ListarIdioma
begin try
select Idioma from idioma
commit tran ListarIdioma
end try
begin catch
rollback tran ListarIdioma
end catch
end




GO
/****** Object:  StoredProcedure [dbo].[p_ListarPalabrasPorIdioma]    Script Date: 22/10/2017 0:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[p_ListarPalabrasPorIdioma]
@Idioma nvarchar(50)
as 
begin
begin tran ListarPalabrasPorIdioma
begin try
select p.Palabra as tag,t.Palabra as traduccion from Palabra as p join Traduccion as t on p.ID_Palabra=t.ID_Palabra 
join Idioma as i on t.ID_Idioma=i.ID_Idioma where i.Idioma=@Idioma
commit tran ListarPalabrasPorIdioma
end try

begin catch
rollback tran ListarPalabrasPorIdioma
end catch
end

GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarDigitoVerficadorV]    Script Date: 22/10/2017 0:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_BuscarDigitoVerficadorV]
@Tabla as nvarchar(50)
as
begin
set nocount on;
begin tran BuscarDigitoVerficadorV
begin try
select DigitoVerificadorH ,DigitoVerificadorV  from DigitoVerificadorVertical where NombreTabla=@Tabla
commit tran BuscarDigitoVerficadorV
end try
begin catch
rollback tran BuscarDigitoVerficadorV
end catch
end


GO
/****** Object:  StoredProcedure [dbo].[sp_VerPreguntasSecretas]    Script Date: 22/10/2017 0:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_VerPreguntasSecretas]
as
begin
set nocount on;
begin tran VerPreguntasSecretas
begin try
select PreguntaSecreta.PreguntaSecreta as Pregunta, PreguntaSecreta.DigitoVerificadorH as DigitoVerificadorH from PreguntaSecreta
commit tran VerPreguntasSecretas
end try
begin catch
print 'Error'	
rollback tran VerPreguntasSecretas
end catch
end


GO
/****** Object:  StoredProcedure [dbo].[sp_VerRespuestaSecreta]    Script Date: 22/10/2017 0:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_VerRespuestaSecreta]
(@id_Usuario int)
as
begin
set nocount on;
begin tran VerRespuestaSecreta
begin try
select  ps.PreguntaSecreta as Pregunta,rs.Respuesta from RespuestasSecreta as rs inner join Usuario as u on rs.ID_Usuario=u.ID_Usuario inner join PreguntaSecreta as ps on rs.ID_PreguntaSecreta=ps.ID_PreguntaSecreta
where rs.ID_Usuario=@id_Usuario
commit tran VerRespuestaSecreta
end try
begin catch
print 'Error'
rollback tran  VerRespuestaSecreta
end catch
end



GO
/****** Object:  StoredProcedure [dbo].[sp_VerUsuario]    Script Date: 22/10/2017 0:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_VerUsuario]
(@nombreUsuario varchar(50))
as
begin
declare @legajo as int
set nocount on;
begin tran VerUsuario
begin try
select @legajo=Legajo from Usuario where NombreUsuario=@nombreUsuario
select p.Legajo, p.Nombre,p.Apellido,u.ID_Usuario,u.NombreUsuario, u.Contraseña,u.Logueado,u.IntentosFallidos,u.bloqueado,u.DigitoVerificadorH  , habilitado
from Usuario as u  join Persona as p on u.Legajo=u.Legajo
where u.NombreUsuario=@nombreUsuario and p.Legajo=@legajo
commit tran VerUsuario
end try
begin catch 
rollback tran VerUsuario
end catch
end


GO
/****** Object:  StoredProcedure [dbo].[tr_AgregarTraduccion]    Script Date: 22/10/2017 0:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[tr_AgregarTraduccion] 
@Idioma nvarchar(50),
@Palabra nvarchar(50),
@traduccion nvarchar(50)

as
begin

begin tran creraIdioma
begin try
declare @idIdioma as int
declare @idPalabra as int
select @idIdioma=ID_Idioma from Idioma where Idioma=@Idioma
select @idPalabra=ID_Palabra from palabra where Palabra=@Palabra
insert into Traduccion(ID_Idioma,ID_Palabra,Palabra) values(@idIdioma,@idPalabra,@traduccion)
commit tran creraIdioma
end try
begin catch
rollback tran creraIdioma
end catch

end


GO
/****** Object:  Table [dbo].[BackupS]    Script Date: 22/10/2017 0:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BackupS](
	[ID_Backup] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NULL,
	[Paths] [nvarchar](50) NULL,
	[DigitoVerificadorH] [nvarchar](50) NULL,
	[NombreArchivo] [nvarchar](50) NULL,
 CONSTRAINT [PK_Backup] PRIMARY KEY CLUSTERED 
(
	[ID_Backup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 22/10/2017 0:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[ID_Bitacora] [int] IDENTITY(1,1) NOT NULL,
	[ID_Evento] [int] NOT NULL,
	[ID_Usuario] [int] NOT NULL,
	[Fecha] [datetime] NULL,
	[DigitoVerificadorH] [nvarchar](50) NULL,
	[Descripcion] [nvarchar](max) NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[ID_Bitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Composite]    Script Date: 22/10/2017 0:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Composite](
	[ID_Composite] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Descripcion] [nvarchar](50) NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_Composite] PRIMARY KEY CLUSTERED 
(
	[ID_Composite] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CompositeFamilia]    Script Date: 22/10/2017 0:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompositeFamilia](
	[ID_Permiso] [int] IDENTITY(1,1) NOT NULL,
	[ID_CompositeFamilia] [int] NULL,
	[ID_CompositePatente] [int] NULL,
 CONSTRAINT [PK_CompositeFamilia] PRIMARY KEY CLUSTERED 
(
	[ID_Permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DigitoVerificadorVertical]    Script Date: 22/10/2017 0:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DigitoVerificadorVertical](
	[ID_DigitoVerificadorVertical] [int] IDENTITY(1,1) NOT NULL,
	[NombreTabla] [nvarchar](50) NULL,
	[DigitoVerificadorV] [nvarchar](50) NULL,
	[DigitoVerificadorH] [nvarchar](50) NULL,
 CONSTRAINT [PK_DigitoVerificadorVertical] PRIMARY KEY CLUSTERED 
(
	[ID_DigitoVerificadorVertical] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EventoBitacora]    Script Date: 22/10/2017 0:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventoBitacora](
	[ID_Evento] [int] IDENTITY(1,1) NOT NULL,
	[Evento] [nvarchar](50) NULL,
 CONSTRAINT [PK_EventoBitacora] PRIMARY KEY CLUSTERED 
(
	[ID_Evento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Idioma]    Script Date: 22/10/2017 0:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[ID_Idioma] [int] IDENTITY(1,1) NOT NULL,
	[Idioma] [nvarchar](50) NULL,
 CONSTRAINT [PK_Idioma] PRIMARY KEY CLUSTERED 
(
	[ID_Idioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Palabra]    Script Date: 22/10/2017 0:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Palabra](
	[ID_Palabra] [int] IDENTITY(1,1) NOT NULL,
	[Palabra] [nvarchar](50) NULL,
 CONSTRAINT [PK_Palabra] PRIMARY KEY CLUSTERED 
(
	[ID_Palabra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Persona]    Script Date: 22/10/2017 0:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[Legajo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Apellido] [nvarchar](50) NULL,
	[Direccion] [nvarchar](50) NULL,
	[DNI] [int] NULL,
	[DigitoVerificadorH] [nvarchar](50) NULL,
	[ID_Tipo_Persona] [int] NULL,
 CONSTRAINT [PK_TelefonoPersona] PRIMARY KEY CLUSTERED 
(
	[Legajo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PreguntaSecreta]    Script Date: 22/10/2017 0:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PreguntaSecreta](
	[ID_PreguntaSecreta] [int] IDENTITY(1,1) NOT NULL,
	[PreguntaSecreta] [nvarchar](50) NULL,
	[DigitoVerificadorH] [nvarchar](50) NULL,
 CONSTRAINT [PK_PreguntaSecreta] PRIMARY KEY CLUSTERED 
(
	[ID_PreguntaSecreta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RespuestasSecreta]    Script Date: 22/10/2017 0:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RespuestasSecreta](
	[ID_RespuestaSecreta] [int] IDENTITY(1,1) NOT NULL,
	[ID_PreguntaSecreta] [int] NULL,
	[ID_Usuario] [int] NULL,
	[Respuesta] [nvarchar](max) NULL,
	[DigitoVerificadorH] [nvarchar](50) NULL,
 CONSTRAINT [PK_RespuestasSecreta] PRIMARY KEY CLUSTERED 
(
	[ID_RespuestaSecreta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Telefono]    Script Date: 22/10/2017 0:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Telefono](
	[ID_Telefono] [int] IDENTITY(1,1) NOT NULL,
	[Codigo_Pais] [int] NULL,
	[Numero] [int] NULL,
	[Descripcion] [nvarchar](50) NULL,
	[DigitoVerificadorH] [nvarchar](50) NULL,
 CONSTRAINT [PK_Telefono] PRIMARY KEY CLUSTERED 
(
	[ID_Telefono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TelefonoPersona]    Script Date: 22/10/2017 0:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TelefonoPersona](
	[Legajo] [int] NULL,
	[ID_Telefono] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TipoPersona]    Script Date: 22/10/2017 0:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoPersona](
	[ID_Tipo_Persona] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NULL,
 CONSTRAINT [PK_TipoPersona] PRIMARY KEY CLUSTERED 
(
	[ID_Tipo_Persona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Traduccion]    Script Date: 22/10/2017 0:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Traduccion](
	[ID_Idioma] [int] NOT NULL,
	[ID_Palabra] [int] NOT NULL,
	[Palabra] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 22/10/2017 0:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](50) NULL,
	[Contraseña] [nvarchar](max) NULL,
	[IntentosFallidos] [int] NULL,
	[Logueado] [bit] NULL,
	[Legajo] [int] NULL,
	[DigitoVerificadorH] [nvarchar](50) NULL,
	[Bloqueado] [bit] NULL,
	[Habilitado] [bit] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UsuarioFamilia]    Script Date: 22/10/2017 0:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioFamilia](
	[ID_Usuario] [int] NULL,
	[ID_Permiso] [int] NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BackupS] ON 

INSERT [dbo].[BackupS] ([ID_Backup], [Fecha], [Paths], [DigitoVerificadorH], [NombreArchivo]) VALUES (3, CAST(0x0000000000000000 AS DateTime), N'C:\AMD', NULL, N'test.bak')
INSERT [dbo].[BackupS] ([ID_Backup], [Fecha], [Paths], [DigitoVerificadorH], [NombreArchivo]) VALUES (4, CAST(0x0000A7F000D19D54 AS DateTime), N'C:\AMD', NULL, N'test.bak')
INSERT [dbo].[BackupS] ([ID_Backup], [Fecha], [Paths], [DigitoVerificadorH], [NombreArchivo]) VALUES (5, CAST(0x0000A7F000138E40 AS DateTime), N'C:\AMD', NULL, N'test.bak')
SET IDENTITY_INSERT [dbo].[BackupS] OFF
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([ID_Bitacora], [ID_Evento], [ID_Usuario], [Fecha], [DigitoVerificadorH], [Descripcion]) VALUES (22, 3, 1, CAST(0x0000A7F00004A9FF AS DateTime), N'5142387304f207c01a003c441d4818a0', N'Se logueo Correctamente')
INSERT [dbo].[Bitacora] ([ID_Bitacora], [ID_Evento], [ID_Usuario], [Fecha], [DigitoVerificadorH], [Descripcion]) VALUES (23, 3, 1, CAST(0x0000A7F0000578FC AS DateTime), N'eca3cef312255b4208b705c5602aacc4', N'Se logueo Correctamente')
INSERT [dbo].[Bitacora] ([ID_Bitacora], [ID_Evento], [ID_Usuario], [Fecha], [DigitoVerificadorH], [Descripcion]) VALUES (24, 3, 1, CAST(0x0000A7F00005D627 AS DateTime), N'9fa5d4b25b70492e1764fb354b9df75b', N'Se logueo Correctamente')
GO
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
SET IDENTITY_INSERT [dbo].[Composite] ON 

INSERT [dbo].[Composite] ([ID_Composite], [Nombre], [Descripcion], [Activo]) VALUES (1, N'Servicios', N'Acceso a la configuracion del programa', 1)
INSERT [dbo].[Composite] ([ID_Composite], [Nombre], [Descripcion], [Activo]) VALUES (2, N'Gestion de Alumnos', N'Acceso a gestionar los alumnos', 1)
INSERT [dbo].[Composite] ([ID_Composite], [Nombre], [Descripcion], [Activo]) VALUES (3, N'Administrador', N'Acceso a todo el sistema', 1)
SET IDENTITY_INSERT [dbo].[Composite] OFF
SET IDENTITY_INSERT [dbo].[CompositeFamilia] ON 

INSERT [dbo].[CompositeFamilia] ([ID_Permiso], [ID_CompositeFamilia], [ID_CompositePatente]) VALUES (1, 3, 1)
INSERT [dbo].[CompositeFamilia] ([ID_Permiso], [ID_CompositeFamilia], [ID_CompositePatente]) VALUES (2, 3, 2)
INSERT [dbo].[CompositeFamilia] ([ID_Permiso], [ID_CompositeFamilia], [ID_CompositePatente]) VALUES (3, 3, NULL)
SET IDENTITY_INSERT [dbo].[CompositeFamilia] OFF
SET IDENTITY_INSERT [dbo].[DigitoVerificadorVertical] ON 

INSERT [dbo].[DigitoVerificadorVertical] ([ID_DigitoVerificadorVertical], [NombreTabla], [DigitoVerificadorV], [DigitoVerificadorH]) VALUES (1, N'Usuario', N'Sarasa', NULL)
SET IDENTITY_INSERT [dbo].[DigitoVerificadorVertical] OFF
SET IDENTITY_INSERT [dbo].[EventoBitacora] ON 

INSERT [dbo].[EventoBitacora] ([ID_Evento], [Evento]) VALUES (1, N'Alta usuario')
INSERT [dbo].[EventoBitacora] ([ID_Evento], [Evento]) VALUES (2, N'Asignar Permiso')
INSERT [dbo].[EventoBitacora] ([ID_Evento], [Evento]) VALUES (3, N'Login')
SET IDENTITY_INSERT [dbo].[EventoBitacora] OFF
SET IDENTITY_INSERT [dbo].[Idioma] ON 

INSERT [dbo].[Idioma] ([ID_Idioma], [Idioma]) VALUES (1, N'es-AR')
INSERT [dbo].[Idioma] ([ID_Idioma], [Idioma]) VALUES (2, N'pt-BR')
INSERT [dbo].[Idioma] ([ID_Idioma], [Idioma]) VALUES (3, N'es-US')
SET IDENTITY_INSERT [dbo].[Idioma] OFF
SET IDENTITY_INSERT [dbo].[Palabra] ON 

INSERT [dbo].[Palabra] ([ID_Palabra], [Palabra]) VALUES (1, N'Aceptar')
INSERT [dbo].[Palabra] ([ID_Palabra], [Palabra]) VALUES (2, N'Cancelar')
INSERT [dbo].[Palabra] ([ID_Palabra], [Palabra]) VALUES (3, N'Alta')
SET IDENTITY_INSERT [dbo].[Palabra] OFF
SET IDENTITY_INSERT [dbo].[Persona] ON 

INSERT [dbo].[Persona] ([Legajo], [Nombre], [Apellido], [Direccion], [DNI], [DigitoVerificadorH], [ID_Tipo_Persona]) VALUES (1, N'Andres', N'Benitez', N'Oren', 30963708, N'Pendiente', 1)
INSERT [dbo].[Persona] ([Legajo], [Nombre], [Apellido], [Direccion], [DNI], [DigitoVerificadorH], [ID_Tipo_Persona]) VALUES (2, N'Fulano', N'Detal', N'NingunLugar', 99999999, N'Pendiente', 1)
SET IDENTITY_INSERT [dbo].[Persona] OFF
SET IDENTITY_INSERT [dbo].[PreguntaSecreta] ON 

INSERT [dbo].[PreguntaSecreta] ([ID_PreguntaSecreta], [PreguntaSecreta], [DigitoVerificadorH]) VALUES (1, N'¿Cual fue la marca de tu primer auto?', N'cbd94268b1185051bc22578af2b18b87')
INSERT [dbo].[PreguntaSecreta] ([ID_PreguntaSecreta], [PreguntaSecreta], [DigitoVerificadorH]) VALUES (2, N'¿Cual es el nombre de tu primera mascota?', N'5f49a4f9bd59ed24a8ad776bc36b48d9')
SET IDENTITY_INSERT [dbo].[PreguntaSecreta] OFF
SET IDENTITY_INSERT [dbo].[RespuestasSecreta] ON 

INSERT [dbo].[RespuestasSecreta] ([ID_RespuestaSecreta], [ID_PreguntaSecreta], [ID_Usuario], [Respuesta], [DigitoVerificadorH]) VALUES (1, 1, 1, N'f6ae8cbc556ec608ef9dec3deab696be74c0c28f0c88602a3bd0618ad190958dcfa0860e83a4c3a763a7e62d825349f7', N'a0e3ff6bbe696e13fc5bb27c9a4fb8a4')
INSERT [dbo].[RespuestasSecreta] ([ID_RespuestaSecreta], [ID_PreguntaSecreta], [ID_Usuario], [Respuesta], [DigitoVerificadorH]) VALUES (2, 2, 1, N'ff29ef0ff17f4c41ca41a899d6c0a323f2895268f532ac960e1c36c60e3acfd8', N'a0e3ff6bbe696e13fc5bb27c9a4fb8a4')
SET IDENTITY_INSERT [dbo].[RespuestasSecreta] OFF
SET IDENTITY_INSERT [dbo].[TipoPersona] ON 

INSERT [dbo].[TipoPersona] ([ID_Tipo_Persona], [Descripcion]) VALUES (1, N'Personal no docente')
SET IDENTITY_INSERT [dbo].[TipoPersona] OFF
INSERT [dbo].[Traduccion] ([ID_Idioma], [ID_Palabra], [Palabra]) VALUES (2, 1, N'Aceitar')
INSERT [dbo].[Traduccion] ([ID_Idioma], [ID_Palabra], [Palabra]) VALUES (1, 1, N'Aceptar')
INSERT [dbo].[Traduccion] ([ID_Idioma], [ID_Palabra], [Palabra]) VALUES (1, 2, N'Cancelar')
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([ID_Usuario], [NombreUsuario], [Contraseña], [IntentosFallidos], [Logueado], [Legajo], [DigitoVerificadorH], [Bloqueado], [Habilitado]) VALUES (1, N'benitand', N'9565A66583CA72F6AAFB66DC768D8E4C0F3F2835DB99F9EFDA1578C64892CF2C', 0, 0, 1, N'142eadf25613dd7280a3b6cf5a07d590', 0, 1)
INSERT [dbo].[Usuario] ([ID_Usuario], [NombreUsuario], [Contraseña], [IntentosFallidos], [Logueado], [Legajo], [DigitoVerificadorH], [Bloqueado], [Habilitado]) VALUES (6, N'DetalFul', N'2BC805107667DB072DA4ADDD4085678CF44BDD36E12CB8B0A2B1A3CC04629F8D', 0, 0, 2, N'f46856f6cb7709e911f7fb14253db67d', 0, 1)
INSERT [dbo].[Usuario] ([ID_Usuario], [NombreUsuario], [Contraseña], [IntentosFallidos], [Logueado], [Legajo], [DigitoVerificadorH], [Bloqueado], [Habilitado]) VALUES (7, N'DetalFul', N'2BC805107667DB072DA4ADDD4085678CF44BDD36E12CB8B0A2B1A3CC04629F8D', 0, 0, 2, N'f46856f6cb7709e911f7fb14253db67d', 0, 1)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
INSERT [dbo].[UsuarioFamilia] ([ID_Usuario], [ID_Permiso]) VALUES (1, 3)
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_EventoBitacora] FOREIGN KEY([ID_Evento])
REFERENCES [dbo].[EventoBitacora] ([ID_Evento])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_EventoBitacora]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuario] FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[Usuario] ([ID_Usuario])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Usuario]
GO
ALTER TABLE [dbo].[CompositeFamilia]  WITH CHECK ADD  CONSTRAINT [FK_CompositeFamilia_Composite] FOREIGN KEY([ID_CompositeFamilia])
REFERENCES [dbo].[Composite] ([ID_Composite])
GO
ALTER TABLE [dbo].[CompositeFamilia] CHECK CONSTRAINT [FK_CompositeFamilia_Composite]
GO
ALTER TABLE [dbo].[CompositeFamilia]  WITH CHECK ADD  CONSTRAINT [FK_CompositeFamilia_Composite1] FOREIGN KEY([ID_CompositePatente])
REFERENCES [dbo].[Composite] ([ID_Composite])
GO
ALTER TABLE [dbo].[CompositeFamilia] CHECK CONSTRAINT [FK_CompositeFamilia_Composite1]
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD  CONSTRAINT [FK_Persona_TipoPersona] FOREIGN KEY([ID_Tipo_Persona])
REFERENCES [dbo].[TipoPersona] ([ID_Tipo_Persona])
GO
ALTER TABLE [dbo].[Persona] CHECK CONSTRAINT [FK_Persona_TipoPersona]
GO
ALTER TABLE [dbo].[RespuestasSecreta]  WITH CHECK ADD  CONSTRAINT [FK_RespuestasSecreta_PreguntaSecreta] FOREIGN KEY([ID_PreguntaSecreta])
REFERENCES [dbo].[PreguntaSecreta] ([ID_PreguntaSecreta])
GO
ALTER TABLE [dbo].[RespuestasSecreta] CHECK CONSTRAINT [FK_RespuestasSecreta_PreguntaSecreta]
GO
ALTER TABLE [dbo].[RespuestasSecreta]  WITH CHECK ADD  CONSTRAINT [FK_RespuestasSecreta_Usuario] FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[Usuario] ([ID_Usuario])
GO
ALTER TABLE [dbo].[RespuestasSecreta] CHECK CONSTRAINT [FK_RespuestasSecreta_Usuario]
GO
ALTER TABLE [dbo].[TelefonoPersona]  WITH CHECK ADD  CONSTRAINT [FK_TelefonoPersona_Persona] FOREIGN KEY([Legajo])
REFERENCES [dbo].[Persona] ([Legajo])
GO
ALTER TABLE [dbo].[TelefonoPersona] CHECK CONSTRAINT [FK_TelefonoPersona_Persona]
GO
ALTER TABLE [dbo].[TelefonoPersona]  WITH CHECK ADD  CONSTRAINT [FK_TelefonoPersona_Telefono] FOREIGN KEY([ID_Telefono])
REFERENCES [dbo].[Telefono] ([ID_Telefono])
GO
ALTER TABLE [dbo].[TelefonoPersona] CHECK CONSTRAINT [FK_TelefonoPersona_Telefono]
GO
ALTER TABLE [dbo].[Traduccion]  WITH CHECK ADD  CONSTRAINT [FK_Traduccion_Idioma] FOREIGN KEY([ID_Idioma])
REFERENCES [dbo].[Idioma] ([ID_Idioma])
GO
ALTER TABLE [dbo].[Traduccion] CHECK CONSTRAINT [FK_Traduccion_Idioma]
GO
ALTER TABLE [dbo].[Traduccion]  WITH CHECK ADD  CONSTRAINT [FK_Traduccion_Palabra] FOREIGN KEY([ID_Palabra])
REFERENCES [dbo].[Palabra] ([ID_Palabra])
GO
ALTER TABLE [dbo].[Traduccion] CHECK CONSTRAINT [FK_Traduccion_Palabra]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Persona1] FOREIGN KEY([Legajo])
REFERENCES [dbo].[Persona] ([Legajo])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Persona1]
GO
ALTER TABLE [dbo].[UsuarioFamilia]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioFamilia_CompositeFamilia] FOREIGN KEY([ID_Permiso])
REFERENCES [dbo].[CompositeFamilia] ([ID_Permiso])
GO
ALTER TABLE [dbo].[UsuarioFamilia] CHECK CONSTRAINT [FK_UsuarioFamilia_CompositeFamilia]
GO
ALTER TABLE [dbo].[UsuarioFamilia]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioFamilia_Usuario] FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[Usuario] ([ID_Usuario])
GO
ALTER TABLE [dbo].[UsuarioFamilia] CHECK CONSTRAINT [FK_UsuarioFamilia_Usuario]
GO
USE [master]
GO
